<div *ngIf="!simulationStep">Start the simulation</div>
<div *ngIf="simulationStep">
  <br>
  <div>
    {{ asJson(simulationStep) }}
  </div>
  <br>
  <div>
    <div>
      <label for="elevatorId">Elevator Id</label>
      <select id="elevatorId" required
              [(ngModel)]="updateRequest.elevatorId">
        <option *ngFor="let elevator of elevators" [value]="elevator.id">{{elevator.id}}</option>
      </select>
      <label for="currentStoreNo">Start Store Number</label>
      <select id="currentStoreNo" required
              [(ngModel)]="updateRequest.currentStoreNo">
        <option *ngFor="let store of stores" [value]="store">{{store}}</option>
      </select>
      <label for="targetStoreNo">Target Store Number</label>
      <select id="targetStoreNo" required
              [(ngModel)]="updateRequest.targetStoreNo">
        <option *ngFor="let store of stores" [value]="store">{{store}}</option>
      </select>
      <button (click)="addPassengerExplicitly()">
        Add Passenger
      </button>
    </div>
    <br>
    <br>
    <div>
      <label for="elevatorIdSecond">Elevator Id</label>
      <select id="elevatorIdSecond" required
              [(ngModel)]="updateRequest.elevatorId">
        <option *ngFor="let elevator of elevators" [value]="elevator.id">{{elevator.id}}</option>
      </select>
      <label for="requestedStartStoreNo">Start Store Number</label>
      <select id="requestedStartStoreNo" required
              [(ngModel)]="updateRequest.currentStoreNo">
        <option *ngFor="let store of stores" [value]="store">{{store}}</option>
      </select>
      <label for="direction">Direction</label>
      <select id="direction" required
              [(ngModel)]="updateRequest.targetStoreNo">
        <option *ngFor="let direction of directions" [value]="direction">{{direction}}</option>
      </select>
      <button (click)="addPassengerImplicitly()">
        Add Passenger
      </button>
    </div>
    <div>
      <button (click)="performSimulationNextStep()">
        Perform Next Simulation Step
      </button>
    </div>
    <div>
      <button (click)="getSimulationStatus()">
        Get Elevators Status
      </button>
    </div>
    <div>
      {{ asJson(elevatorStatuses) }}
    </div>
  </div>
</div>

