<h1>Elevator Control System Simulation</h1>

<div>
  <label for="floresNumber">Flores Number</label>
  <select id="floresNumber" required
          [(ngModel)]="model.floresNumber">
    <option *ngFor="let flore of flores" [value]="flore">{{flore}}</option>
  </select>
  <br>
  <label for="elevatorsNumber">Elevators Number</label>
  <select id="elevatorsNumber" required
          [(ngModel)]="model.elevatorsNumber">
    <option *ngFor="let elevator of elevators" [value]="elevator">{{elevator}}</option>
  </select>
  <br>
  <button (click)="startSimulation()">
    Start
  </button>
  <br>
  <app-simulation [simulationStep]="simulationStep"></app-simulation>
</div>
